#root {
  margin: 0 auto;
  text-align: center;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.mainText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: black;
}

.containerTools {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}